@pytest.mark.${Tag}
def test_${FunctionName}():
    '''${Tag}'''
    url = "https://${Hostname}${Path}"
    headers = {  # 设置http头部信息
        'Host': '${Hostname}',
        'Authorization':'${Authoration}',
        'Content-Type': '${Content_type}'
    }
    params='${Params}'
    send_request=interface(url,headers,params)
    response=send_request.send_request()

    response_text=response.text
    response_json=json.loads(response_text)
    api_val.reponse = response_text
    api_val.statue_code = response.status_code
    api_val.url=url
    api_val.request=params
    print(response_text)
    print("###########",api_val.url)

    msg = response_json["msg"]
    code = response_json["code"]
    code_str=str(code)

    assert response.status_code == 200
    assert code_str != '0'
    assert code_str[0] !='3' #3xx-重定向：客户端浏览器必须采取更多操作来实现请求。
    assert code_str[0] != '4' #4xx-客户端错误：发生错误，客户端似乎有问题。
    assert code_str[0] != '5' #5xx-服务器错误：服务器由于遇到错误而不能完成该请求。



